# Ignorar arquivos de área de trabalho e cache local do Obsidian
vault/.obsidian/workspace.json
vault/.obsidian/workspace-mobile.json
vault/.obsidian/core-plugins-migration.json
vault/.obsidian/graph.json
